<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">13 Dispatches were sent by couriers to all the king’s provinces with the order to destroy,
    kill and annihilate all the Jews—young and old, women and children—on a single day, the thirteenth day of the
    twelfth month, the month of Adar, and to plunder their goods. 14 A copy of the text of the edict was to be issued as
    law in every province and made known to the people of every nationality so they would be ready for that day.

    15 The couriers went out, spurred on by the king’s command, and the edict was issued in the citadel of Susa. The
    king and Haman sat down to drink, but the city of Susa was bewildered.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter31">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/toc"></ion-icon>
</ion-content>