<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">17 For the queen’s
    conduct will become known to all the women, and so they will despise their husbands and say, ‘King Xerxes commanded
    Queen Vashti to be brought before him, but she would not come.’ 18 This very day the Persian and Median women of the
    nobility who have heard about the queen’s conduct will respond to all the king’s nobles in the same way. There will
    be no end of disrespect and discord.19 “Therefore, if it pleases the king, let him issue a royal decree and let it
    be written in the laws of Persia and
    Media, which cannot be repealed, that Vashti is never again to enter the presence of King Xerxes. Also let the king
    give her royal position to someone else who is better than she. 20 Then when the king’s edict is proclaimed
    throughout all his vast realm, all the women will respect their husbands, from the least to the greatest.”

    21 The king and his nobles were pleased with this advice, so the king did as Memukan proposed. 22 He sent dispatches
    to all parts of the kingdom, to each province in its own script and to each people in their own language,
    proclaiming that every man should be ruler over his own household, using his native tongue.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter11"></ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter20"></ion-icon>
</ion-content>