<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">8 When the king’s order and edict had been proclaimed, many young women were
    brought to the citadel of Susa and put under the care of Hegai. Esther also was taken to the king’s palace and
    entrusted to Hegai, who had charge of the harem. 9 She pleased him and won his favor. Immediately he provided her
    with her beauty treatments and special food. He assigned to her seven female attendants selected from the king’s
    palace and moved her and her attendants into the best place in the harem.

    10 Esther had not revealed her nationality and family background, because Mordecai had forbidden her to do so. 11
    Every day he walked back and forth near the courtyard of the harem to find out how Esther was and what was happening
    to her.

    12 Before a young woman’s turn came to go in to King Xerxes, she had to complete twelve months of beauty treatments
    prescribed for the women, six months with oil of myrrh and six with perfumes and cosmetics. 13 And this is how she
    would go to the king: Anything she wanted was given her to take with her from the harem to the king’s palace. 14 In
    the evening she would go there and in the morning return to another part of the harem to the care of Shaashgaz, the
    king’s eunuch who was in charge of the concubines. She would not return to the king unless he was pleased with her
    and summoned her by name.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter20">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter22"></ion-icon>
</ion-content>