<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 2: Esther Made Queen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">2 Later when King Xerxes’ fury had subsided, he remembered Vashti and what she
    had done and what he had decreed about her. 2 Then the king’s personal attendants proposed, “Let a search be made
    for beautiful young virgins for the king. 3 Let the king appoint commissioners in every province of his realm to
    bring all these beautiful young women into the harem at the citadel of Susa. Let them be placed under the care of
    Hegai, the king’s eunuch, who is in charge of the women; and let beauty treatments be given to them. 4 Then let the
    young woman who pleases the king be queen instead of Vashti.” This advice appealed to the king, and he followed it.

    5 Now there was in the citadel of Susa a Jew of the tribe of Benjamin, named Mordecai son of Jair, the son of
    Shimei, the son of Kish, 6 who had been carried into exile from Jerusalem by Nebuchadnezzar king of Babylon, among
    those taken captive with Jehoiachin[a] king of Judah. 7 Mordecai had a cousin named Hadassah, whom he had brought up
    because she had neither father nor mother. This young woman, who was also known as Esther, had a lovely figure and
    was beautiful. Mordecai had taken her as his own daughter when her father and mother died.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter12">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter21"></ion-icon>
</ion-content>