<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">15 When the turn came for Esther (the young woman Mordecai had adopted, the
    daughter of his uncle Abihail) to go to the king, she asked for nothing other than what Hegai, the king’s eunuch who
    was in charge of the harem, suggested. And Esther won the favor of everyone who saw her. 16 She was taken to King
    Xerxes in the royal residence in the tenth month, the month of Tebeth, in the seventh year of his reign.

    17 Now the king was attracted to Esther more than to any of the other women, and she won his favor and approval more
    than any of the other virgins. So he set a royal crown on her head and made her queen instead of Vashti. 18 And the
    king gave a great banquet, Esther’s banquet, for all his nobles and officials. He proclaimed a holiday throughout
    the provinces and distributed gifts with royal liberality.

    Mordecai Uncovers a Conspiracy
    19 When the virgins were assembled a second time, Mordecai was sitting at the king’s gate. 20 But Esther had kept
    secret her family background and nationality just as Mordecai had told her to do, for she continued to follow
    Mordecai’s instructions as she had done when he was bringing her up.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter21">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter23"></ion-icon>
</ion-content>