<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">10 On the seventh day, when King Xerxes was in high spirits from wine, he
    commanded the seven eunuchs who served him—Mehuman, Biztha, Harbona, Bigtha, Abagtha, Zethar and Karkas— 11 to bring
    before him Queen Vashti, wearing her royal crown, in order to display her beauty to the people and nobles, for she
    was lovely to look at. 12 But when the attendants delivered the king’s command, Queen Vashti refused to come. Then
    the king became furious and burned with anger.

    13 Since it was customary for the king to consult experts in matters of law and justice, he spoke with the wise men
    who understood the times 14 and were closest to the king—Karshena, Shethar, Admatha, Tarshish, Meres, Marsena and
    Memukan, the seven nobles of Persia and Media who had special access to the king and were highest in the kingdom.

    15 “According to law, what must be done to Queen Vashti?” he asked. “She has not obeyed the command of King Xerxes
    that the eunuchs have taken to her.”

    16 Then Memukan replied in the presence of the king and the nobles, “Queen Vashti has done wrong, not only against
    the king but also against all the nobles and the peoples of all the provinces of King Xerxes. </p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline" routerLink="/chapter1">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter12"></ion-icon>
</ion-content>