<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">21 During the time Mordecai was sitting at the king’s gate, Bigthana[b] and
    Teresh, two of the king’s officers who guarded the doorway, became angry and conspired to assassinate King Xerxes.
    22 But Mordecai found out about the plot and told Queen Esther, who in turn reported it to the king, giving credit
    to Mordecai. 23 And when the report was investigated and found to be true, the two officials were impaled on poles.
    All this was recorded in the book of the annals in the presence of the king.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter22">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter30"></ion-icon>
</ion-content>