<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="position: absolute; width: 100%; height: 99.9%;" src="../../assets/img/bg1.png" alt="">
  <p style="margin: 10%; margin-top: 5%; position: relative;">8 Then Haman said to King Xerxes, “There is a certain people dispersed among
    the peoples in all the provinces of your kingdom who keep themselves separate. Their customs are different from
    those of all other people, and they do not obey the king’s laws; it is not in the king’s best interest to tolerate
    them. 9 If it pleases the king, let a decree be issued to destroy them, and I will give ten thousand talents[b] of
    silver to the king’s administrators for the royal treasury.”

    10 So the king took his signet ring from his finger and gave it to Haman son of Hammedatha, the Agagite, the enemy
    of the Jews. 11 “Keep the money,” the king said to Haman, “and do with the people as you please.”

    12 Then on the thirteenth day of the first month the royal secretaries were summoned. They wrote out in the script
    of each province and in the language of each people all Haman’s orders to the king’s satraps, the governors of the
    various provinces and the nobles of the various peoples. These were written in the name of King Xerxes himself and
    sealed with his own ring.</p>
  <ion-icon style="margin: 1% 80% 1% 10%; position: absolute;" size="large" name="arrow-back-outline"
    routerLink="/chapter30">
  </ion-icon>
  <ion-icon style="margin: 1% 10% 1% 80%; position: relative;" size="large" name="arrow-forward-outline"
    routerLink="/chapter32"></ion-icon>
</ion-content>